/* Local Pacifico Font */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
       url('/fonts/pacifico-regular.woff2') format('woff2'),
       url('/fonts/pacifico-regular.woff') format('woff');
}
